@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;;
	box-sizing: border-box;
  font: normal 100%/1.3 "Open Sans", sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

header {
  color: #fff;
  background-color: #000;
  position: relative;
  text-align: center;
}

h1 {
  margin: 0;
  padding: .6em;
  display: inline-block;
  font-size: 1.25rem;
  font-family: 'Pacifico', cursive;
  color: #fff;
}

.nav {
  display: none;
  padding: 2em 3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav-label {

}

.hamburger {
  width: 3em;
  padding: 1.25em .95em;
  float: left;
  cursor: pointer; cursor: hand;

}

nav ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
}

nav a {
  padding: .75em 0;
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  border-bottom: solid 1px #333;
}

nav a:hover, .banner-btn:hover, h1:hover {
  color: #fdc82f;
}

.img-wrapper {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 40vh;
  min-height: 345px;
}

.img-flex {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.banner-medium, .banner-large, .banner-extralarge {
  display: none;
}

.banner-link {
  color: #fff;
  text-decoration: none;
}

.banner {
  position: relative;
  text-align: center;
}

.banner-body {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 1em;
  z-index: 1;
  width: 90%;
}

.banner-title {
  margin: 0;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.3;
}

.card-group {
  margin: 0;
  padding: 0;
  text-align: center;
}

.card-img-wrapper {
  position: relative;;
  overflow: hidden;
  width: 100%;
  height: 204px;
}


.card-img {
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.card {
  margin: 2px 0;
  position: relative;
  list-style-type: none;
  display: block;
  width: 100%;
}

.card-body {
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  color: #fff;
  z-index: 1;
}

.card-title {
  margin: 0;
  margin-top: 1em;
  font-size: 1.15em;
}

.card-subtitle {
  margin: 0;
}

.section-food {
  clear: both;
}
@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  .card {
    width: 50%;
    float:left
  }

  h1 {
    display: inline-block;
    padding: .75em;
  }

  header {
    text-align: left;
  }

  .nav-check, .hamburger {
    display: none;
  }

  .nav {
    display: inline-block;
    padding: 0;
    float: right;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    border: none;
    padding: 1.5em;
    font-size: .8rem;
  }

  .banner-small {
    display: none;
  }

  .banner-medium {
    display: block;
  }

  .img-wrapper {
    height: 70vh;
    min-height: 605px;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .card {
    width: 25%;
  }

  .banner-medium {
    display: none;
  }

  .banner-extralarge {
    display: block;
    width: 100%;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

  .banner-large {
    display: none;
  }

  .banner-extralarge {
    display: block;
    width: 100%;
  }

  .banner-body {
    top: 2em;
  }

  .img-wrapper {
    min-height: 705px;
  }

}
