@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 "Open Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0 auto;
  max-width: 1860px;
}

header {
  color: #fff;
  background-color: #000;
  position: relative;
  text-align: center;
}

h1 {
  margin: 0 3.2em 0 0;
  font-size: 1rem;
  font-weight: 300;
  padding: 1rem;
  display: inline-block;
  font-family: "Pacifico", cursive;
  color: #fff;
}

p {
  margin: 0 0 1em 0;
}

.title {
  font-size: 2.5rem;
  font-weight: 300;
  margin: 0 0 0.45em 0;
  line-height: 1.1;
}

.banner-title {
  font-size: 2.15rem;
}

/* nav */

.nav {
  display: none;
  padding: 1em 3em 3em;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
}

.nav-icon,
.nav-icon-close,
.nav-icon-hover,
.nav-icon-close-hover {
  display: block;
  width: 3.1em;
  float: left;
}

.nav-icon-close,
.nav-icon-hover,
.nav-icon-close-hover {
  display: none;
}

.nav-label:hover .nav-icon-hover {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-icon-close,
.nav-check:checked ~ .nav-label:hover .nav-icon-close-hover {
  display: block;
}

.nav-check:checked ~ .nav-label .nav-icon,
.nav-check:checked ~ .nav-label .nav-icon-hover,
.nav-check:checked ~ .nav-label .nav-icon-close-hover,
.nav-check:checked ~ .nav-label:hover .nav-icon-close,
.nav-label:hover .nav-icon {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
}

nav a {
  font-size: 1rem;
  padding: 1rem 1.25rem;
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  border-bottom: solid 1px #333;
}

nav a:hover {
  color: #000;
  background-color: #f4be02;
}

/* nav */

/* banner */

.banner {
  position: relative;
  text-align: center;
}

.img-wrapper {
  margin: 0;
  overflow: hidden;
  min-height: 350px;
  max-height: 450px;
  height: 40vh;
  background-image: url("../images/banner-salad.jpg");
  background-size: cover;
  background-position: center center;
}

.banner-link {
  color: #fff;
}

.banner-body {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 2em;
  z-index: 1;
  width: 90%;
}

.banner-text {
  margin: .45em 0;
}

.banner-btn {
  color: #fff;
}

.banner-btn:hover {
  color: #fff;
  text-decoration: underline;
}

/* banner */

/* cards */

.cards {
  margin: 0 auto;
  border-top: 2px solid #fff;
  text-align: center;
}

.cards ul {
  margin: 0;
  padding: 0;
  display: block;
}

.cards li {
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #fff;
  overflow: hidden;
  height: 200px;
  width: 100%;
  position: relative;
  float: left;
  list-style: none;
}

.card-img-wrapper {
  overflow: hidden;
  width: 100%;
}

.card-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.card-body {
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  color: #fff;
  z-index: 1;
  font-size: 1rem;
}

.card-title {
  margin: 1em 0 0 0;
  font-size: 1.25rem;
  font-weight: 300;
}

/* cards */

/* sections */

.copy-wrapper {
  margin: 0;
  padding: 0;
  float: left;
  height: auto;
  position: relative;
  width: 100%;
  display: block;
  background-color: #f2f2f2;
}

.section-copy {
  margin-left: auto;
  margin-right: auto;
  padding: 33px 0 48px;
  position: relative;
  width: 90%;
  max-width: 735px;
  bottom: 0;
}

.section-title {
  margin: 0;
}

.section-text {
  padding-top: 1em;
}

.section-wrapper {
  width: 100%;
  height: 100vw;
  overflow: hidden;
}

.section-food {
  background-image: url("../images/section-food.jpg");
  background-size: cover;
  background-position: center center;
}

.section-preserve {
  background-image: url("../images/section-preserve.jpg");
  background-size: cover;
  background-position: center center;
}

.section-soap {
  background-image: url("../images/section-soap.jpg");
  background-size: cover;
  background-position: center center;
}

.section-chef {
  background-image: url("../images/section-chef.jpg");
  background-size: cover;
  background-position: center center;
}

footer {
  text-align: center;
  color: #666;
  font-size: .75rem;
}

strong {
  color: #666;
  margin-top: 4em;
  font-size: 1rem;
  padding: 1rem;
  display: inline-block;
  font-family: "Pacifico", cursive;
  color: #666;
}

strong:hover {
  color: #333;
}

/* sections */

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    font-size: 110%;
    line-height: 1.4;
  }

  h1 {
    display: inline-block;
  }

  header {
    text-align: left;
  }

  .nav-check, .nav-icon, .nav-icon-hover, .nav-icon-close, .nav-icon-close-hover {
    display: none;
  }

  .nav-check:checked ~ .nav-label .nav-icon-close,
  .nav-check:checked ~ .nav-label:hover .nav-icon-close-hover {
    display: none;
  }

  .nav {
    display: inline-block;
    padding: 0;
    float: right;
  }

  nav li {
    display: inline-block;
  }

  nav a {
    border: none;
  }

  .img-wrapper {
    height: 70vh;
    min-height: 575px;
  }

  .banner-body {
    top: 3em;
  }

  .cards li {
    width: 50%;
    float:left;
  }

  .card-border {
    border-right: 2px solid #fff;
  }

  .copy-wrapper,
  .section-wrapper {
    height: 368px;
    width: 50%;
    float: left;
  }

  .img-right {
  float: right;
  }

  .section-copy {
  padding: 0 35px 17px;
  position: absolute;
  width: auto;
  }

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.5;
  }

  .cards li {
    width: 25%;
  }

  .card-border-2 {
    border-right: 2px solid #fff;
  }

  .copy-wrapper,
  .section-wrapper {
    height: 600px;
  }

  .section-copy {
    padding: 0 70px 52px;
  }

}

@media only screen and (min-width: 90em) {

  html {
    font-size: 130%;
    line-height: 1.5;
  }

}
