@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;;
	box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  color: #fff;
  background-color: #000;
  text-align: center;
  position: relative;
}

h1 {
  margin: .5em;
  display: inline-block;
  font-size: 1.25rem;
}

.nav {
  display: none;
  padding: 2em 3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav-label {

}

.hamburger {
  width: 3em;
  padding: 1.25em .95em;
  float: left;
  cursor: pointer; cursor: hand;

}

nav ul {
  margin: 0;
  padding: 0;
  text-align: left;
}

nav li {
  list-style: none;
}

nav a {
  padding: .75em 0;
  display: inline-block;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-weight: 300;
  border-bottom: solid 1px #333;
}

nav a:hover {
  color: #999;
}


.banner {
  position: relative;
}

.img-flex {
  display: block;
}

.banner-link {
  color: #333;
  text-decoration: none;
}

.section-body {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 3em;
}

.banner-link>.banner-btn {
  color: blue;
}
